<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>password Hasher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Password Hasher</h1>
	<p>This simple tool generates a SHA-512-Hash which can be used for Dovecot. Get the <a href="https://gitlab.com/tarator/passwordhasher/" target="_blank">Sourcecode of this webapp on Gitlab</a></p>
    <form action="/"  method="post">
    	<p>
    	<label for="password">Passwort eingeben:</label> <input type="password" name="password" min="8" max="64" />
    	</p>
    	<p>
    	<label for="passwordRepeat">Passwort wiederholen:</label> <input type="password" name="passwordRepeat" min="8" max="64" />
    	</p>
        <p><input type="submit" value="Hash erzeugen" /> <input type="reset" value="Reset" /></p>
    </form>
    
    <p th:text="${generatedHash}" id="book_title">Password hash.</p>
</body>
</html>